/* 

color palette: https://colorhunt.co/palette/fef5edd3e4cdadc2a999a799

font-family: 'Anton', sans-serif;
font-family: 'Comfortaa', cursive;

*/

/* HTML TAGS */

html, body {
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
}

body {
    position: relative;
}
h1 {
    font-size: 3rem !important;
    font-family: 'Anton', sans-serif !important;
}

h3 {
    font-family: 'Anton', sans-serif;
}

p {
    font-size: 1.2 rem;
    font-family: 'Comfortaa', cursive;

}

.container {
    padding: 10% 10%;
}

/* NAVBAR */

.navbar {
    background-color: #73C2FB;
    padding: 2% 10%;
}

.navbar a, .navbar h1 {
    color: white !important;
}

.navbar h1 {
    font-size: calc(100% + 5px) !important;
    margin: 0px;
}

.navbar #navbar-list {
    margin-left: auto;
}

/* FIRST SECTION */

#firstSection{
    text-align: left;
    background-color: #57A0D3;
}

#firstSection * {
    padding: 20px 10px;
}

#firstSection * {
    color: white;
}

#firstSection .btn {
    padding: 15px 30px;
    border-radius: 15px 40px;
    margin-left: 20px;
}

#bkg {
    background-image: url("imgs/bkg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 600px;
    background-blend-mode: luminosity;
}

/* FADE0 */

#fade0 {
    height: 15px;
    background-image: linear-gradient(#57A0D3, white)
}

/* SEP0 */

.sep .container{
    padding: 50px 0px;
    text-align: center;
}

.sep hr {
    border-top: 2px solid black;
    height: 0px;
}

@media (max-width: 1000px) {
    hr {
        display: none;
    }

    .sep .container {
        padding: 10px 0px;
    }

    #firstSection {
        text-align: center;
        padding: 20px;
    }

    #firstSection .btn {
        margin-left: 0px;
    }

    #bkg {
        display: none;
    }
}

@media (max-width: 600px) {
    #firstSection * {
        padding: 15px 0px;
    }
}